<template>
	<div id="Wrapper">
		<div class="commonBox">
			<h1 style="font-size: 30px">SPEECH EMOTION DETECTION</h1>
		</div>
		<div class="commonBox" v-if="!audioPlayed">
			<b-field expanded class="file">
				<b-upload v-model="file" style="margin: auto" :input="onFileChange()">
					<a class="button is-info">
						<b-icon icon="upload"></b-icon>
						<span>Click to upload</span>
					</a>
				<span class="file-name" v-if="file">
					{{ file.name }}
				</span>
				</b-upload>
			</b-field>
			<div v-if="isLoadingAudio">
				<b-progress size="is-small" type="is-info"></b-progress>
			</div>
		</div>
		<div class="commonBox" v-else>
			<b-button @click="reloadPage()" class="is-info">New File</b-button>
		</div>
		<div id="peaks-container" class="commonBox">
			<div class="canvas-container" id="zoomview-container"></div>
			<br/>
			<div class="canvas-container" id="overview-container"></div>
			<audio> 
			</audio>
		</div>
		<div class="commonBox">
			<canvas id="barChart" width="600" height="250"></canvas>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import io from 'socket.io-client'
import Chart from 'chart.js'
import Peaks from 'peaks.js';

// Initialize
let socket = null;
// let source = null;
let AudioContext = window.AudioContext || window.webkitAudioContext;
let audioCtx;

let sound = null;

let options = {}

// Bar chart props 
let emotionData = [0, 0, 0, 0, 0]
let emotionLabel = ['Angry', 'Excited', 'Hapiness', 'Neutral', 'Sad']

let emotionBackgroundColor = [
	'rgba(255, 99, 132, 0.2)',
	'rgba(54, 162, 235, 0.2)',
	'rgba(255, 206, 86, 0.2)',
	'rgba(75, 192, 192, 0.2)',
	'rgba(153, 102, 255, 0.2)',
]

let emotionBorderColor = [
	'rgba(255, 99, 132, 1)',
	'rgba(54, 162, 235, 1)',
	'rgba(255, 206, 86, 1)',
	'rgba(75, 192, 192, 1)',
	'rgba(153, 102, 255, 1)',
]

function getColor(){
	var id = -1
	var mx = -1
	for (let i = 0; i < 5; i++)
		if (emotionData[i] > mx){
			mx = emotionData[i]
			id = i 
		}
	return emotionBorderColor[id]
}

function getLabel(){
	return  'Angry: ' + emotionData[0] + 
			'%\nExcited: ' + emotionData[1] + 
			'%\nHappy: ' + emotionData[2] +
			'%\nNeutral: ' + emotionData[3] + 
			'%\nSad: ' + emotionData[4] + '%'
}

let barChart;
let instance = null;

export default {
	name: 'App',
	components: {

	},
	data() {
		return {
			file: null,
			last_file: null,
			isLoadingAudio: false,
			isPlaying: false,
			audioData: [],
			audioPlayed: false
		}
	},
	methods: {
		reloadPage: function() {
			location.reload();
		},
		renewChart: function() {
			emotionData = [0, 0, 0, 0, 0]
			barChart.data.datasets[0].data = emotionData
			barChart.update()
		},
		onFileChange: function() {
			if (this.file === null || this.file == this.last_file) 
				return;
			this.renewChart()

			if (sound !== null){
				sound.pause()
				this.isPlaying = false;
			}

			let formData = new FormData();
			formData.append('file', this.file)
			this.last_file = this.file
			this.isLoadingAudio = true;

			axios.post(process.env.VUE_APP_API_URL + '/api/upload', formData, {
				headers: {
					'Content-Type': 'multipart/form-data'
				}
			}).then((response) => {
				console.log(response.data.filename)
				socket.emit('load_audio', this.file.name)
				this.audioPlayed = false
			})
		},
		updateChart: function(id) {
			if (this.isPlaying == false) 
				return;
			socket.emit('play_audio', id)
			setTimeout(() => {
				this.updateChart(id + 1)
			}, 1000)
		},
		playAudio: function() {
			this.isPlaying = true;
			sound = document.createElement('audio')
			sound.src = process.env.VUE_APP_API_URL + '/api/get_audio/' + this.file.name
			sound.play()
			setTimeout(this.updateChart(0), 1000)
		},
		initAudio: function() {
			audioCtx = new AudioContext({sampleRate: 16000})
		},
		initPeaksJS: function() {
			socket.on('finish_loading', () => {
				this.renewChart()
				this.isLoadingAudio = false

				options = {
					zoomLevels: [64, 128, 256, 512, 1024, 2048, 4096],
					containers: {
						overview: document.getElementById('overview-container'),
						zoomview: document.getElementById('zoomview-container')
					},
					keyboard: true,
					mediaElement: document.querySelector('audio'),
					webAudio: {
						audioContext: audioCtx,
					},
					segments: []
				};

				instance = Peaks.init(options);

				options = {
					mediaUrl: process.env.VUE_APP_API_URL + '/api/get_audio/' + this.file.name,
					webAudio: {
						audioContext: audioCtx,
					}
				};

				instance.setSource(options, (error) => {
					if (error !== null && error !== undefined)
						console.error(error)
					this.playAudio();
					this.audioPlayed = true
				})

			})
		}
	},
	created: function() {
		socket = io(process.env.VUE_APP_API_URL)
		socket.on('connect', function() {
			console.log('connected')
		})
		socket.on('stop', () => {
			this.isPlaying = false;
			this.audioPlayed = true;
			
			let audio = document.querySelector('audio')
			audio.controls = 'controls'
		})

		socket.on('play', (response) => {
			emotionData = response.result
			barChart.data.datasets[0].data = emotionData
			barChart.update()

			instance.segments.add({
				startTime: response.id, 
				endTime: response.id + 1, 
				editable: false, 
				color: getColor(), 
				labelText: getLabel(), 
				id: response.id})
		})

		this.initAudio()
	},
	mounted: function() {
		this.initPeaksJS();
		barChart = new Chart(document.getElementById('barChart'), {
			type: 'bar',
			data: {
				datasets: [{
					label: 'Probability of Emotion',
					data: emotionData,
					backgroundColor: emotionBackgroundColor,
					borderColor: emotionBorderColor,
					borderWidth: 1,
				}],
				labels: emotionLabel
			}, 
			options: {
				scales: {
					yAxes: [{
						ticks: {
							min: 0,
							max: 100,
							callback: function(value) {
								return value + "%"
							}
						},
						scaleLabel: {
							display: true,
							labelString: "Percentage"
						}
					}]
				}
			}
		})
	}
}
</script>

<style src="@/css/styles.css">
</style>

