<template>
    
<div class="app" id="Wrapper">
		<transition-group
			appear
			name="staggered-fade"
			v-bind:css="false"
			v-on:before-enter="beforeEnter"
			v-on:enter="enter"
			v-on:leave="leave"
		>
			<p v-if="!recorded" :key="0">Click on record button and speak for 2 - 3 seconds</p>
			<div v-else-if="!isLoading" :key="1">
				<div>
					<div v-if="speakerName === null">
						<p>Sorry, but I can't recognize you. Do you want to enroll or try again?</p> 
						<div> 
							<button class="button is-medium myButton" @click="reloadPage()">Try again</button>
							<button class="button is-medium myButton" @click="enrollPrompt()">Enroll</button>
						</div>
					</div>
					<div v-else>
						<p>Hi, is that you, {{speakerName}}?</p>
						<div> 
							<button class="button is-medium myButton" @click="welcomeUser()">Yes, I am</button>
							<button class="button is-medium myButton" @click="tryAgainPrompt()">No, I am not</button>
						</div>
					</div>
				</div>
			</div>
			<div v-else :key="2"> 
				A moment, please... 
			</div>
		</transition-group>
		<b-button 
			v-if="!recorded"
			class="rec"
			style="margin: 50px"
			size="is-large"
			@click="onRecordClick()"
			rounded
			:icon-right="recordIcon[Number(recording)]"
		>
		</b-button>
	</div>  
</template>

<script>
import Velocity from 'velocity-animate'
import Recorder from '../js/recorder'
import axios from 'axios'
// import router from '../router/index'


var recorder = null;


export default {
	name: 'App',
	data() {
		return {
			recorded: false, 
			recording: false,
			speakerId: null, 
            speakerName: null,
			remainingAttempt: 3,
			filename: '',
			isLoading: false,
			recordIcon: ['microphone', 'stop']
		}
	},
	methods: {
		onRecordClick: function() {
			this.recording = !this.recording;
			if (this.recording){
				recorder.clear();
				recorder.record();
			}
			else{
				recorder.stop();
				this.isLoading = true 
				this.recorded = true
				recorder.exportWAV((blob) => {
					const formData = new FormData()
					var filename = new Date().toISOString();
					formData.append('file', blob, filename + '.wav')
					this.filename = filename;
					axios.post(
						'http://localhost:5000/api/upload', 
						formData,{
							headers: {
								'Content-Type': 'multipart/form-data'
							}
					}).then((res) => {
						this.filename = res.data.filename
						this.speakerId = res.data.speaker_id
						this.isLoading = false;
						if (res.data.speaker_id != -1)
							this.speakerName = res.data.speaker_name
					})
				})
			}
		},
		reloadPage: function(){
			location.reload()
        },
        welcomeUser: function() {
            this.$router.push({name: 'Welcome', params: {name: this.speakerName}})
        },
		enrollPrompt: function() {
            if (this.remainingAttempt == 0){
                this.$buefy.dialog.alert({
                    title: 'Error',
                    message: "You have no attempt left",
                    confirmText: 'Exit',
                    onConfirm: () => {
                        location.reload();
                    }
                })
            }
            else this.$buefy.dialog.prompt({
				message: `Please enter the given password`,
				inputAttrs: {
                    placeholder: 'Password',
                    type: 'password'
				},
				trapFocus: true,
                onConfirm: (value) => {
                    axios.post('http://localhost:5000/api/verify_password', {'password': value}).then((res) =>{
                        if (res.data.error){
                            this.remainingAttempt--;
                            this.$buefy.toast.open(`Wrong password! ${this.remainingAttempt} attempt(s) left`)
                        }
                        else{
							this.$buefy.toast.open(`Correct password!`)
							// axios.post('http://localhost:5000/api/enroll', {filename: this.filename})
							this.$router.push({name: 'Enroll'})
                        }
                    })
                }
			})
		},
		tryAgainPrompt: function() {
			this.$buefy.dialog.confirm({
				message: 'Do you want to try again?',
				type: 'is-info',
				onConfirm: () => {
					location.reload()
				}
			})
		},
		beforeEnter: function (el) {
			el.style.opacity = 0
			el.style.height = 0
		},
		enter: function (el, done) {
			var delay = el.dataset.index * 500
			setTimeout(function () {
				Velocity(
				el,
				{ opacity: 1, height: '1.6em' },
				{ complete: done }
				)
			}, delay)
		},
		leave: function (el, done) {
			var delay = el.dataset.index * 500
			setTimeout(function () {
				Velocity(
					el,
					{ opacity: 0, height: 0 },
					{ complete: done }
				)
			}, delay)
		}
	},
	beforeMount: function() {
        this.remainingAttempt = 3
		navigator.mediaDevices.getUserMedia({audio: true, video: false}).then((stream) => {
			var AudioContext = (window.AudioContext || window.webkitAudioContext)
			var audioContent = new AudioContext({sampleRate: 16000});
			var streamSource = audioContent.createMediaStreamSource(stream);

			recorder = new Recorder(streamSource, {numChannels: 1})
		})
	}
}
</script>