<template>
    <div class="Wrapper">
        <transition-group
			appear
			name="staggered-fade"
			v-bind:css="false"
			v-on:before-enter="beforeEnter"
			v-on:enter="enter"
			v-on:leave="leave"
		>
            <p :key="0">Welcome {{name}},</p>
            <p :key="1">Have a good day! </p>
        </transition-group>
    </div>
</template>

<script>
import Velocity from 'velocity-animate'

export default {
    name: 'Welcome',
    props: ['name'],
    methods: {
        beforeEnter: function (el) {
			el.style.opacity = 0
			el.style.height = 0
		},
		enter: function (el, done) {
			var delay = el.dataset.index * 500
			setTimeout(function () {
				Velocity(
				el,
				{ opacity: 1, height: '1.6em' },
				{ complete: done }
				)
			}, delay)
		},
		leave: function (el, done) {
			var delay = el.dataset.index * 5500
			setTimeout(function () {
				Velocity(
					el,
					{ opacity: 0, height: 0 },
					{ complete: done }
				)
			}, delay)
		}
    }
}
</script>